<!-- Maythanan (670510722) -->
{% extends 'lab06/base.html' %}




{% block content %}
<h1 class="register-user">{% block title %} Register New User {% endblock %}</h1>




<form method="POST" action="/lab06/">
  {{ form.csrf_token }}
  <p>
    {{ form.username.label }}
  </p>
  {{ form.username(size=20) }}



  {% if form.username.errors %}
  <ul class="errors">
    {% for error in form.username.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}




  <p>
    {{ form.email.label }}
  </p>
  {{ form.email(size=20) }}



  {% if form.email.errors %}
  <ul class="errors">
    {% for error in form.email.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}


  <p>
    {{ form.password.label }}
  </p>
  {{ form.password(size=20) }}



  {% if form.password.errors %}
  <ul class="errors">
    {% for error in form.password.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}




  <p>
    <input type="submit" value="Add">
  </p>
</form>




{% endblock %}