<!DOCTYPE html>
<html lang="en">
<!--Maythanan Ladee 670510722-->


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Precipitation Calendar - Hat Yai</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hw03.css') }}">
</head>


<body>
  <h2>Precipitation Calendar - Hat Yai</h2>
  <!-- Add table structure here -->
  <table>
    <thead>
      <tr>
        <th>NOV 2025</th>
        <th>DEC 2025</th>
      </tr>
    </thead>

    <tbody>
      <tr>

        <td class="month">
          {% set nov = tup[:30] %}
          {% for day, prcp in nov %}
            {% if loop.first %}
              <div class="day {% if 'Saturday' in day or 'Sunday' in day %}weekend{% endif %}">{{ day }} {{ prcp }}</div>
            {% else %}
              {% set prevPRCP = nov[loop.index0 - 1][1] %}
              <div class="day {% if 'Saturday' in day or 'Sunday' in day %}weekend{% endif %}">
                {{ day }} {{ prcp }}
                {% if prcp > prevPRCP %} ↑
                {% elif prcp < prevPRCP %} ↓
                {% else %} ↔
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </td>

        <td class="month">
          {% set dec = tup[30:] %}
          {% for day, prcp in dec %}
            {% if loop.first %}
              <div class="day {% if 'Saturday' in day or 'Sunday' in day %}weekend{% endif %}">{{ day }} {{ prcp }}</div>
            {% else %}
              {% set prevPRCP = dec[loop.index0 - 1][1] %}
              <div class="day {% if 'Saturday' in day or 'Sunday' in day %}weekend{% endif %}">
                {{ day }} {{ prcp }}
                {% if prcp > prevPRCP %} ↑
                {% elif prcp < prevPRCP %} ↓
                {% else %} ↔
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </td>
      </tr>

    </tbody>
  </table>
</body>


</html>

<!--the problem is that it only work with two months-->