body {
    font-family: Arial, sans-serif;
}


table {
    border-collapse: collapse;
    width: 800px;
    margin: 20px auto;
}


th {
    background-color: #4a81c4;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    text-transform: uppercase;  
}


td {
    border: 1px solid #ddd;
    color: #214197;
    padding: 8px;
    vertical-align: middle;
    height: 1em;
}

.month {
  padding: 0;
   vertical-align: top;
}

.day {
  padding: 6px 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #1f4fd8;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.weekend {
    background-color: #cfe2f3;
}

.dayweekend {
  background-color: #dbe8f6;
}

.cell-content {
    display: flex;
    justify-content: space-between;
}


h2 {
    text-align: center;
}
