body {
    background-color: rgb(255, 255, 255);
}
.line {
border-top: 2px solid black;
border-bottom: 2px solid black;
padding-bottom: 3px;
margin-top: 40px;
}

.spaceline {
    margin: -35px 0px;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.exam {
    margin-top: 20px;
}

.examtable {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.examtable th,
.examtable td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.examtable th {
    background-color: #ffffff;
    font-weight: bold;
}